@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.banner {
  background-color: var(--color2);
}
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header__menu {
  display: flex;
  gap: 2.875rem;
}
.header__link:hover {
  color: var(--color3);
}
.header__number {
  text-decoration: underline;
}
.banner__content {
  display: flex;
}
.banner__info {
  flex: 0 0 50%;
}
.banner__title {
  font-size: 4.375rem;
  line-height: 4.7rem;
}
.banner__subtitle {
  font-size: 2.5rem;
}
.banner__button {
  background-color: var(--color3);
  color: var(--color4);
  padding: 1rem 3.75rem;
  display: inline-block;
  cursor: pointer;
  margin: 0 0 3rem 0;
}
.banner__button:hover {
  background-color: var(--color5);
}
.banner__pluses {
  display: flex;
  gap: 2.5rem;
}
.banner__plus {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.banner__second-column {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-end;
}
.banner__image {
  max-width: 28.125rem;
  line-height: 0;
  margin: 0 auto;
}
.banner__image img {
  max-width: 100%;
}
