.banner {
  background-color: var(--color2);
  padding: 0 1rem;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header__menu {
  display: flex;
  gap: 2.875rem;
}
.header__menu a:hover {
  color: var(--color4);
}

.header__link:hover {
  color: var(--color3);
}
.header__number {
  text-decoration: underline;
}
.header__number:hover {
  color: var(--color4);
}
.banner__content {
  display: flex;
}
.banner__info {
  flex: 0 0 50%;
}
.banner__title {
  font-size: 4.375rem;
  line-height: 4.7rem;
  margin: 2rem 0 0 0;
}
.banner__subtitle {
  font-size: 2.5rem;
  line-height: 4rem;
  margin: 1.75rem 0 0 0;
}
.banner__button {
  background-color: var(--color3);
  color: var(--color4);
  padding: 1rem 3.75rem;
  display: inline-block;
  cursor: pointer;
  margin: 3rem 0 0 0;
}
.banner__button:hover {
  background-color: var(--color5);
}
.banner__pluses {
  display: flex;
  gap: 2.5rem;
  margin: 3.5rem 0 0 0;
}
.banner__plus {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.banner__second-column {
  flex: 0 0 50%;
  display: flex;
  align-items: flex-end;
}
.banner__image {
  max-width: 28.125rem;
  line-height: 0;
  margin: 0 auto;
}
.banner__image img {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .banner__pluses {
    display: block;
  }
  .banner__plus {
    margin: 0 0 1.5rem 0;
  }
}

@media (max-width: 992px) {
  .banner__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .banner__subtitle {
    font-size: 2rem;
  }
  .banner__button {
    margin: 0 0 1.5rem 0;
  }
}
@media (max-width: 767px) {
  .header__menu {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .banner__content {
    display: block;
  }
  .banner__info {
    text-align: center;
  }
  .banner__pluses {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .burger {
    margin: 1rem 0 0 auto;
    text-align: right;
    width: 2rem;
    height: 22px;
    cursor: pointer;
    float: right;
  }
  .burger span {
    display: inline-block;
    width: 2rem;
    height: 0.125rem;
    background-color: var(--color1);
    position: relative;
  }
  .burger span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5rem;
    width: 2rem;
    height: 0.125rem;
    background-color: var(--color1);
  }
  .burger span::after {
    content: "";
    position: absolute;
    left: 0;
    top: -0.5rem;
    width: 2rem;
    height: 0.125rem;
    background-color: var(--color1);
  }
  .burger.open span {
    background-color: var(--color2);
  }
  .burger.open span::before {
    transform: rotate(45deg);
    top: 0;
  }
  .burger.open span::after {
    transform: rotate(-45deg);
    top: 0;
  }
  .header__number {
    display: none;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 10%;
    padding: 15px;
    background: var(--color2);
    transform: translateX(-100%);
    transition: transform .5s;
  }
  .header__menu.open {
    transform: translateX(0);
  }
  .header__menu a {
    list-style-type: none;
  }
}

@media (max-width: 635px) {
  
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 10%;
    padding: 15px;
    background: var(--color2);
    transform: translateX(-100%);
    transition: transform .5s;
  }
}
@media (max-width: 540px) {
  .banner__pluses {
    display: block;
    max-width: 11.7rem;
    margin: 0 auto;
  }
  .banner__plus {
    text-align: left;
    gap: 1rem;
  }
  .banner__content {
    margin: 0 1rem 0;
  }
  .banner__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 10%;
    padding: 15px;
    background: var(--color2);
    transform: translateX(-100%);
    transition: transform .5s;
  }
}
@media (max-width: 380px) {
  .banner__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .banner__subtitle {
    font-size: 1.7rem;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 15px;
    background: var(--color2);
    transform: translateX(-100%);
    transition: transform .5s;
  }
}
