.how__title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
}
.how__info {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 2rem;
}
.how__info-number {
  font-size: 3.125rem;
  color: var(--color1);
  text-shadow: 3px 0 var(--color2);
  font-weight: normal;
  flex: 0 0 4.5rem;
}




.how__info-title {
  font-size: 1.25rem;
}

.how__info-item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}


@media (max-width: 1024px) {
  .how__info {
    display: block;
  }
}
@media (max-width: 540px) {
  .how__info-title {
    line-height: 1.5rem;
  }
}
