.how__title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
}
.how__info {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 2rem;
}
.how__info-number {
  font-size: 3.125rem;
  color: var(--color1);
  text-shadow: 3px 0 var(--color2);
  font-weight: normal;
  flex: 0 0 4.5rem;
}

.how__info-title {
  font-size: 1.25rem;
}

.how__info-item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .banner__pluses {
    display: block;
  }
}
@media (max-width: 992px) {
  .banner__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .banner__subtitle {
    font-size: 2rem;
  }
  .banner__button {
    margin: 0 0 1.5rem 0;
  }
}
@media (max-width: 767px) {
  .header__menu {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .banner__content {
    display: block;
  }
  .banner__info {
    text-align: center;
  }
  .banner__pluses {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 635px) {
  .header__menu {
    display: none;
  }
}
@media (max-width: 540px) {
  .banner__pluses {
    display: block;
    max-width: 11.7rem;
    margin: 0 auto;
  }
  .banner__plus {
    text-align: left;
    gap: 1rem;
  }
}
@media (max-width: 380px) {
  .banner__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .banner__subtitle {
    font-size: 1.7rem;
  }
}
@media (max-width: 1024px) {
  .how__info {
    display: block;
  }
}
@media (max-width: 540px) {
  .how__info-title {
    line-height: 1.5rem;
  }
}
