@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "./banner.css";
@import "./how.css";
@import "./price.css";
@import "./carpark.css";
@import "./comment.css";
@import "./order.css";
@import "./footer.css";
:root {
    --color1: #000;
    --color2: #fed100;
    --color3: #ff352b;
    --color4: #fff;
    --color5: #ff772b;
    --color6: #E5E5E5;

}


li {
    list-style-type: none;
    padding-right: 1rem;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Montserrat", sans-serif;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
    color: var(--color1);
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;

}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
.container {
    max-width: 77rem;
    padding: 0 2rem;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.5rem;
    text-align: center;
}
.subtitle {
    font-size: 1.25rem;
    font-weight: 700;
}
.border:hover {
    background-color: var(--color2);
  }